# Exercises Part I

In your ds-libraries-exercises repo, make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:

["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

## Use Series attributes and methods to explore your fruits Series.

In [1]:
import pandas as pd

In [2]:
fruits=pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

)

In [3]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [4]:
#Q1) Determine the number of elements in fruits.
fruits.size

17

In [5]:
# 2nd way:
fruits.shape

(17,)

In [6]:
#Q2) Output only the index from fruits.
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [7]:
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [8]:
#Q3) Output only the values from fruits.
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [9]:
#Q4) Confirm the data type of the values in fruits.
fruits.dtype   # object datatype indicating this is a series of strings

dtype('O')

In [10]:
# testing datatype for ints
test=pd.Series([1.5,2,4,9,10])
test.dtype

dtype('float64')

In [11]:
#Q5) Output only the first five values from fruits. 
# Output the last three values. 
# Output two random values from fruits.

fruits.head() # pandas series methods

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [12]:
fruits.tail()

12         mango
13     blueberry
14    blackberry
15    gooseberry
16        papaya
dtype: object

In [13]:
fruits.sample()

9    kiwi
dtype: object

In [14]:
# combined way:
print(fruits.head())
print()
print(fruits.tail(3))
print()
print(fruits.sample(2))

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

14    blackberry
15    gooseberry
16        papaya
dtype: object

0    kiwi
9    kiwi
dtype: object

In [15]:
#Q6) Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [16]:
#Q7) Run the code necessary to produce only the unique string values from fruits.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [17]:
#Q8) Determine how many times each unique string value occurs in fruits.
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
Name: count, dtype: int64

In [18]:
#Q9) Determine the string value that occurs most frequently in fruits.
fruits.value_counts().max()

4

In [19]:
# another way:
fruits.value_counts().head(1)

kiwi    4
Name: count, dtype: int64

In [20]:
# another way:
fruits.mode()

0    kiwi
dtype: object

In [21]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [22]:
fruits.value_counts().sort_values()

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
mango               2
kiwi                4
Name: count, dtype: int64

In [23]:
#Q10) Determine the string value that occurs least frequently in fruits.

fruits.value_counts().tail(1)

papaya    1
Name: count, dtype: int64

In [24]:
# another way
# sorted string values in a alphabetical order after determining many had a single count
fruits.sort_values().value_counts().nsmallest(n=1,keep='last')

watermelon    1
Name: count, dtype: int64

# Exercises Part II

## Explore more attributes and methods while you continue to work with the fruits Series.

In [25]:
#Q1) Capitalize all the string values in fruits.
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [26]:
#Q2) Count the letter "a" in all the string values (use string vectorization).

fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [27]:
# with a for loop
for fruit in fruits:
    # using string vectorization
    cnt = fruit.count('a')
    print(f'{fruit} ==> count of a: {cnt}')

kiwi ==> count of a: 0
mango ==> count of a: 1
strawberry ==> count of a: 1
pineapple ==> count of a: 1
gala apple ==> count of a: 3
honeycrisp apple ==> count of a: 1
tomato ==> count of a: 1
watermelon ==> count of a: 1
honeydew ==> count of a: 0
kiwi ==> count of a: 0
kiwi ==> count of a: 0
kiwi ==> count of a: 0
mango ==> count of a: 1
blueberry ==> count of a: 0
blackberry ==> count of a: 1
gooseberry ==> count of a: 0
papaya ==> count of a: 3

In [28]:
#Q3) Output the number of vowels in each and every string value.


# Define a custom function to count vowels
def count_vowels(s):
    vowels = 'AEIOUaeiou'
    return sum(1 for char in s if char in vowels)

# Apply the custom function to each string value
vowel_counts = fruits.apply(count_vowels)

# Print the counts
print("Number of vowels in each string value in 'fruits':")
print(vowel_counts)

Number of vowels in each string value in 'fruits':
0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [29]:
# another way (short way):-

fruits.str.count('a|e|i|o|u')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [30]:
#Q4) Write the code to get the longest string value from fruits.
wqwqsqz/.

fruits[fruits.str.len()==max(fruits.str.len())]

5    honeycrisp apple
dtype: object

In [33]:
# using the key keyword argument in max()
max(fruits,key=len)

'honeycrisp apple'

In [ ]:
#Q5) Write the code to get the string values with 5 or more letters in the name.


fruits[fruits.str.len()>=5]

In [ ]:
#Q6) Find the fruit(s) containing the letter "o" two or more times.
fruits[fruits.str.lower().str.count('o') >=2]

In [ ]:
#Q7) Write the code to get only the string values containing the substring "berry".

fruits[fruits.str.contains('berry')]

In [ ]:
#Q8) Write the code to get only the string values containing the substring "apple".
fruits[fruits.str.contains('apple')]

In [ ]:
#Q9) Which string value contains the most vowels?
fruits[fruits.str.count('a|e|i|o|u').max()]

# Exercises Part III

# Exercises Part III (1st set out of 3 sets ///      1/3)

Use pandas to create a Series named letters from the following string. 

The easiest way to make this string into a Pandas series is to use list to convert each individual letter into a single string on a basic Python list.

'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

In [ ]:
my_list=list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')
my_list

In [ ]:
len(my_list)

In [ ]:
letters=pd.Series(my_list)
letters

In [ ]:
#Q1) Which letter occurs the most frequently in the letters Series?
letters.value_counts().head(1)

In [ ]:
#Q2) Which letter occurs the Least frequently?
letters.value_counts().tail(1)

In [ ]:
letter.str.value_counts().idxmin()

In [ ]:
#Q3) How many vowels are in the Series?
letters.str.count('a|e|i|o|u').sum()

In [ ]:
letters.str.lower()

In [ ]:
#Q4) How many consonants are in the Series?
len(letters)-letters.str.count('a|e|i|o|u').sum()

In [ ]:
(~letters.str.lower().count('a|e|i|o|u')).sum()

In [ ]:
#Q5) Create a Series that has all of the same letters but uppercased.

letters.str.upper()

In [ ]:
#Q6) Create a bar plot of the frequencies of the 6 most commonly occuring letters.

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
top_letters=letters.value_counts().head(6)
top_letters

In [ ]:

plt.figure(figsize=(8,5))
top_letters.plot(kind='bar')
plt.xlabel('letter')
plt.ylabel('freq')
plt.title('Top 6 most common letter')
plt.show()

In [ ]:
# create a bar plot

sixmost=letters.value_counts().nlargest(n=6)

# Exercises Part III (2/3)
Use pandas to create a Series named numbers from the following list:

['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

In [ ]:
strings=['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

strings

In [ ]:
numbers=pd.Series(strings)
numbers

In [ ]:
# Q1)What is the data type of the numbers Series?
numbers.dtype

In [ ]:
#Q2) How many elements are in the number Series?
numbers.size

In [ ]:
# another way
len(numbers)

In [ ]:
# Q3) Perform the necessary manipulations by accessing Series attributes and methods to convert 
# the numbers Series to a numeric data type.

numbers=numbers.str.replace('$','').str.replace(',','').astype('float')
numbers.dtype

In [ ]:
#Q4) Run the code to discover the maximum value from the Series.
numbers.max()

In [ ]:
# Q5) Run the code to discover the minimum value from the Series.
numbers.min()

In [ ]:
# Q6) What is the range of the values in the Series?
print(f' RANGE of the values in the Series:       {numbers.min()} - {numbers.max()}')

In [ ]:
# Q7) Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

pd.cut(numbers,bins=4).value_counts().sort_index()

In [ ]:
# Q8) Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

# horizontal bar plots for long named data
'''
after value_counts() index is equal to one of the four bins as shown above. 
We can sort our graph by these values smallest-largest
'''
import matplotlib.pyplot as plt

pd.cut(numbers,bins=4).value_counts().sort_index().plot(kind='barh')
plt.title('Series Composition After Binning')
plt.xlabel('[Count]')
plt.ylabel('[$ bins]')
plt.show()

## Exercises Part III (3/3)

### Use pandas to create a Series named exam_scores from the following list:

[60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]

In [ ]:
exam_scores=pd.Series([60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78])
exam_scores

In [ ]:
## Q1) How many elements are in the exam_scores Series?
exam_scores.size

In [ ]:
#2nd way:
exam_scores.shape

In [ ]:
#3rd way
len(exam_scores)

In [ ]:
## Q2) Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.
exam_scores.describe()

In [ ]:
exam_scores.median()

In [ ]:
## Q3) Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

exam_scores.plot(kind='hist',edgecolor='y')
plt.title("Distribution of exam scores")
plt.xlabel('scores')
plt.ylabel('no. of examees')
#plt.show()

 Q4) Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. 
 
     Add the necessary points to the highest grade to make it 100, 
 
     and add the same number of points to every other score in the Series as well.

In [ ]:
# top score
exam_scores.max()

In [ ]:
pts_to_add =100 - exam_scores.max()
pts_to_add

In [ ]:
print(f'original grades: \n {exam_scores}')

In [ ]:
curved_grades=exam_scores + pts_to_add
print(f'curved grades:\n {curved_grades}')

 Q5) Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of 
 
     letter grades.

 For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

In [ ]:
import function_exercises as f

f.get_letter_grade(86)

In [ ]:
letter_grades = curved_grades.apply(f.get_letter_grade)
letter_grades

In [ ]:
# 2nd way( using cut() function arguments)
bin_edges = [0, 59, 69, 79, 89,100]
bin_labels = ['F', 'D', 'C', 'B', 'A']
letter_grades = pd.cut(curved_grades, bins=bin_edges, labels=bin_labels)
letter_grades

In [ ]:
## Q6) Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.

letter_grades.value_counts().sort_index().plot.barh()
plt.title('Curved Letter Grade Distribution')
plt.show()